---
layout: page
title: "Contact"
description: "Have questions? I have answers (maybe)."
header-img: "img/contact-bg.jpg"
---


<p>¿Quieres contactame?</p>
<p>Si quieres contactarme enviame un DM en twitter y te respondere</p>
<p>Si eres un compañero de estudio contactame por Facebook o Linkedin</p>
<p>Si estas interesado en un proyecto/trabajo/oferta/negocio</p>

<script id='fbhvc5p'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=jmarino&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbhvc5p');</script>
